{
 ;; handlers
 :app.core/basic-handler {:greeting "world"}
 :app.core/main-handler {:user-routes #ig/ref :app.routes/user
                         :admin-routes #ig/ref :app.routes/admin
                         :cart-routes #ig/ref :app.routes/cart
                         :discounts-routes #ig/ref :app.routes/discounts}

 ;; routes
 :app.routes/user {}
 :app.routes/admin {}
 :app.routes/cart {}
 :app.routes/discounts {}

 ;; server
 :app.core/server {:handler #ig/ref :app.core/main-handler
                   :port #or [#env PORT 3000]
                   :join? false}
}

