{
 ;; databse connection
 :app.services.database/connection {:pool-name "db-pool"
                                    :adapter "postgresql"
                                    :username #or [#env POSTGRES_USER "db_user"]
                                    :password #or [#env POSTGRES_PASSWORD "db_password"]
                                    :database-name #or [#env POSTGRES_DB "shopping_cart"]
                                    :server-name "localhost"
                                    :port-number #or [#env POSTGRES_PORT 5432]}

 ;; database migrations
 :app.services.database/migrations {:store :database
                                    :migration-dir "migrations"
                                    :db #ig/ref :app.services.database/connection}

 ;;database querier
 :app.services.database/querier {:db-connection #ig/ref :app.services.database/connection}
 ;; database transactor
 :app.services.database/transactor {:db-connection #ig/ref :app.services.database/connection}

 ;; handlers

 :app.handlers.user/create {:transactor #ig/ref :app.services.database/transactor
                            :querier #ig/ref :app.services.database/querier}

 :app.core/basic-handler {:greeting "world"}
 :app.core/main-handler {:user-routes #ig/ref :app.routes/user
                         :admin-routes #ig/ref :app.routes/admin
                         :cart-routes #ig/ref :app.routes/cart
                         :discounts-routes #ig/ref :app.routes/discounts
                         :inventory-routes #ig/ref :app.routes/inventory}

 ;; routes
 :app.routes/user {:create-handler #ig/ref :app.handlers.user/create}
 :app.routes/admin {}
 :app.routes/cart {}
 :app.routes/discounts {}
 :app.routes/inventory {}

 ;; server
 :app.core/server {:handler #ig/ref :app.core/main-handler
                   :port #or [#env PORT 3000]
                   :join? false}
}

